[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "assets"]
	path = assets
	url = https://github.com/nghiat/ngen_assets
[submodule "third_party/libclang/llvm-project"]
	path = third_party/libclang/llvm-project
	url = https://github.com/nghiat/llvm-project
[submodule "third_party/vulkan/Vulkan-Headers"]
	path = third_party/vulkan/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/dxc/DirectXShaderCompiler"]
	path = third_party/dxc/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
