[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "assets"]
	path = assets
	url = https://github.com/nghiat/ngen_assets
[submodule "third_party/libclang/llvm-project"]
	path = third_party/libclang/llvm-project
	url = https://github.com/nghiat/llvm-project
